body {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 93vh;
    margin: 0;
    flex-direction: column;
}

.info {
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 20px;
}

.video-container {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    gap: 20px;
}

.video-container h2 {
    cursor: pointer;
    text-align: center;
}

.video-container video {
    width: 500px;
    max-height: 700px;
    height: 100%;
    object-fit: contain;
    margin: 0 auto;
    display: block;
    background-color: black;
}