<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comparison</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}?v={{ time.time() }}">
    <script>
        function copyToClipboard(text) {
            navigator.clipboard.writeText(text)
                .then(() => {
                    console.log("Text copied to clipboard: " + text);
                })
                .catch((error) => {
                    console.error("Failed to copy text to clipboard: " + error);
                });
        }

        function appendToBlacklistedPhashes(phash) {
            fetch('/append-to-blacklisted', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ phash: phash })
            })
                .then(response => {
                    if (response.ok) {
                        console.log("Phash appended to blacklisted_phashes: " + phash);
                    } else {
                        console.error("Failed to append phash to blacklisted_phashes");
                    }
                })
                .catch(error => {
                    console.error("Error occurred while appending phash to blacklisted_phashes: " + error);
                });
        }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script>
    <script type="text/javascript">
        // Connect to the WebSocket server
        const socket = io();

        // Listen for the 'refresh' event and reload the page with cache busting
        socket.on('refresh', function (cacheBuster) {
            const timestamp = new Date().getTime();
            const urlParams = new URLSearchParams(window.location.search);
            urlParams.set('cache_buster', cacheBuster);
            urlParams.set('timestamp', timestamp);
            window.location.search = urlParams.toString();
            window.location.reload(true);
            window.location.href = "/?cache_buster=" + cacheBuster + "&timestamp=" + timestamp;
        });
    </script>
</head>

<body>
    <div class="info" title="click to add phash to the blacklist">
        {{ phash }}
    </div>

    <div class="video-container">
        <div>
            <h2 onclick="copyToClipboard('{{ video1_name }}')" title="click to copy value to your clipboard">
                Biggest File
            </h2>
            {% if video1_name.endswith(('.jpg', '.jpeg', '.png', '.gif')) %}
            <img src="/video1?cache_buster={{ cache_buster }}" alt="{{ video1_name }}" width="500" height="700">
            {% else %}
            <video id="video1" src="/video1?cache_buster={{ cache_buster }}" width="500" height="700" controls muted
                autoplay loop></video>
            {% endif %}
        </div>
        <div>
            <h2 onclick="copyToClipboard('{{ video2_name }}')" title="click to copy value to your clipboard">
                File To Remove
            </h2>
            {% if video2_name.endswith(('.jpg', '.jpeg', '.png', '.gif')) %}
            <img src="/video2?cache_buster={{ cache_buster }}" alt="{{ video2_name }}" width="500" height="700">
            {% else %}
            <video id="video2" src="/video2?cache_buster={{ cache_buster }}" width="500" height="700" controls muted
                autoplay loop></video>
            {% endif %}
        </div>
    </div>



    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const phashElement = document.querySelector('.info');
            phashElement.addEventListener('click', () => {
                const phash = phashElement.textContent;
                appendToBlacklistedPhashes(phash);
            });
        });
    </script>
</body>

</html>